<!-- <section fxLayout="column wrap" fxLayoutGap="60px" fxLayoutAlign="center center">
    <div fxFlex>
      404 We are searching for your page...
    </div>
    <div fxFlex>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div fxFlex>
      ... But we can not find it.
    </div>
  </section> -->
  <!-- <div class="container">
    
      <mat-card>
      
        <mat-card-content> 404 We are searching for your page...</mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <mat-card-content> ... But we can not find it.</mat-card-content>
       </mat-card>
   
   
    </div> -->


  <!-- <div layout="row">
    <div flex>
     </div>
    
  </div> -->
  <div class="card-holder">
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title >Not Found</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="assets/images/assam.svg" alt="" >
    <mat-card-content>
      <p>
        <mat-card-content> 404 We are searching for your page...</mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <mat-card-content> ... But we can not find it.</mat-card-content>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Home</button> -->
      
      <div class="button-container">
        <button mat-fab color="primary" (click)="goHome()">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>