


<div class="limiter" style="background-image: url('assets/images/bg-201.jpg');">

   <div class="fog-container">
     <div class="fog-img fog-img-first"></div>
     <div class="fog-img fog-img-first"></div>
     <div class="fog-img fog-img-second"></div>
 </div>
 
     <div class="container">
     <div class="row">      
     <div class="container-login100" >
     <div class="wrap-login100">
     <form>
       
       <button type="button" tooltip="Goto Back " class="btn btny btn-default buttom-prim buttonsToShow" 
       id="backbtn" (click)="goback()"><i class="fa fa-arrow-circle-left"></i> </button>     
           <div style="text-align: center;color:blue;font-style:normal;">
            
        <span class="btn btn-success" aria-readonly="false">
         Share your Details for Registration (Excel/CSV Format)
        </span>  
             <br><br><br>
           </div>   
       <div style="text-align: center;">
       
         <button class="btn btn-primary" (click)="exportexcel()">Download </button>
       </div>
      
       <table id="excel-table" hidden> 
         <tr >       
            <th>Username (Plant ID)
            </th> 
            <th style="font-weight: bold;">Password
            </th>  
            <th style="font-weight: bold;"> Person Name (Primary)
            </th> 
            <th style="font-weight: bold;"> Designation (Primary)

            </th> 
            <th style="font-weight: bold;"> Mobile number

            </th> 
            <th style="font-weight: bold;"> Email

            </th> 
            <th style="font-weight: bold;">Designation (Secondary Contact)


            </th> 
            <th style="font-weight: bold;"> Mobile (Secondary Contact)

            </th> 
            <th style="font-weight: bold;"> Email (Secondary Contact)

            </th> 
            <th style="font-weight: bold;"> Street

            </th> 
            <th style="font-weight: bold;">Town

            </th> 
            <th style="font-weight: bold;"> District

            </th> 
            <th style="font-weight: bold;"> State

            </th> 
            <th style="font-weight: bold;"> Pin Code

            </th> 
            <th style="font-weight: bold;"> Role


            </th> 
           
         </tr>    
         
       </table>
       
       
 
     </form>
     </div>
     </div>
     </div>
     </div>
     </div>
 
     
 
