<div class="limiter" style="background: url('assets/images/bg-201.jpg');">
    <div class="fog-container">
        <div class="fog-img fog-img-first"></div>
        <div class="fog-img fog-img-first"></div>
        <div class="fog-img fog-img-second"></div>
    </div>
    <div class="container">
    <div class="row">
      
    <div class="container-login100" >
    <div class="wrap-login100">
    <form  [formGroup]="loginForm">
        <div style="text-align: center;">

            
            <img  id="img22" _ngcontent-hle-c2="" alt="" style="width: 30mm; text-align: center;" src="assets/images/assam.svg">
        </div><br>
        
        <h4 _ngcontent-ash-c2="" class="login-label">Sign In</h4>
       
   <hr>
   <div class="fontpassword"> 
    <div class="marbot">
         
        
        <div class="form-group">
        <input class="form-control" formControlName="username"  type="text"  [ngClass]="{ 'is-invalid':submitted && f.username.errors }"  name="username"  placeholder="Username">  
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">*Username required</div>
        </div>
    </div> 
   

    <div class="form-group mt-3">
        <input class="form-control" formControlName="password"   [ngClass]="{ 'is-invalid':submitted && f.password.errors }"  type="password"   name="password"    placeholder="Password" id="password">   
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">*Password required</div>
        </div>
        </div>
       
        <button  class="btn mt-3 btn-login btn-primary w-100" (click)="homego()">Log in</button>  
        </div>
        <div><br>
            <a class="txt1" (click)="help()"><em _ngcontent-ash-c2="" class="fa fa-info-circle" style="padding-right: 6px;" ></em>Help?</a>
            <a _ngcontent-ash-c2="" href="javascript:void(0);" style="text-align: right;float:right" tooltip="Forgot Password" (click)="forgetpasswordpage()">Forgot Password</a><br><br>
           

            <a class="txt1 d-block" (click)="regipage()"> Click here for Industry Registrations </a>
            <a class="txt1 d-block" (click)="api()" >Click here to view the API Document </a>
            <a class="txt1 d-block" (click)="excel()">Click here to download Excel </a>

            
        </div>

    </div>
    
    <div  class="modal_invalid">

        <div class="modal-content1">
        
            <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
         <br>
          <p style="text-align: center;">
            Invalid Username or Password
          </p>
          <div style="text-align: center;"><br>
            <button class="btn btn-success close_modal">CLOSE</button>
          </div>
         
        </div>
      
      </div>

      <div  class="modal">

       
         <p style="text-align: center;">
          <img style="text-align: center;" src="../../assets/images/04-spinner.gif" height="200px" width="200px"><hr>
         </p> 
        
        
      
      </div>


   
    <div class="text-center">
   
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>

    
