<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-header></app-header>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" style="position: relative; height: 100vh;">
                 <!-- Page Heading -->
                 <div>
                    <span><button type="button" tooltip="Goto Back " class="mr-3 btn btny btn-default buttom-prim buttonsToShow" id="backbtn"
                        (click)="goback()" style="float: left;">
                        <i class="fa fa-arrow-circle-left"></i></button>
                    </span>
                    <span>
                        <ol class="breadcrumb" style="float: left;">

                            <li class="breadcrumb-item active" aria-current="page"><a href="#/realtime-report">Real Time
                                    Reports</a></li>
                            <li class="breadcrumb-item active"><a>Trends</a></li>
                        </ol><br>
                    </span>
                </div><br><br>
                <!-- Sidebar -->
                <app-plant-info></app-plant-info>
                


                <div class="row mb-6" style="float:left;padding-right: 500px;">
                    <!-- <div class="col-sm-6">

                    </div> -->

                    <div class="col-xl-12">

                        <div class="row">
                            <form #heroForm="ngForm" (ngSubmit)="populateChart()">
                            <!-- <app-linechart></app-linechart>     -->
                            <div class="col-md-5 pt-2 stndrop">
                                <mat-label>Station</mat-label>
                                  <mat-form-field class="form-group" appearance="none">
                                    <mat-select class="form-control" [(ngModel)]="model.station" name="station" #station="ngModel" required multiple (selectionChange)="addParam()">
                                      <mat-option *ngFor="let station of stationList" [value]="station">{{station.stationInfo.stationId}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  
        <div [hidden]="station.valid || station.pristine"
             class="alert alert-danger">
          Station is required
        </div>
                            </div>
                           
                            <!-- <div class="col-md-2 pt-2 stndrop">
                                <mat-label>Parameter</mat-label>
                                <mat-form-field appearance="none" class="form-group">
                                    <mat-select class="form-control" [(ngModel)]="selectedParam" multiple >
                                      <mat-option *ngFor="let param of paramList" [value]="param">{{param.paramter}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-2 pt-2 stndrop">
                                <mat-label>Frequency</mat-label>
                                    <mat-form-field appearance="none" class="form-group">
                                        <mat-select class="form-control" [(ngModel)]="selectedOption" (selectionChange)="changeDatepicker()">
                                          <mat-option *ngFor="let frequency of filterOption" [value]="frequency.name">{{frequency.name}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                   
                                
                            </div>
                            <div class="col-md-2 pt-2 stndrop">
                                    <label>From Date <span class="text-danger">*</span></label>
                                    <div *ngIf="this.iCalView==1" style="margin-top: 10px;">
                                <p-calendar [(ngModel)]="dateFrom" [showTime]="showTime" dateFormat="dd.mm.yy"
                                    hourFormat="24" [showIcon]="true"  [minDate]="minDate">
                                </p-calendar>
                            </div>
                            <div *ngIf="this.iCalView==2" style="margin-top: 10px;">
                                <p-calendar [(ngModel)]="dateFrom" view="month" dateFormat="mm/yy"
                                    [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"  [minDate]="minDate"></p-calendar>
                            </div>
                            <div *ngIf="this.iCalView==3">
                                <p-calendar [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" hourFormat="24" [showTime]="showTime"
                                    [showIcon]="true"  [minDate]="minDate">
                                </p-calendar>
                            </div>
                                   

                            </div>
                            <div class="col-md-2 pt-2 stndrop">
                                <label>To Date <span class="text-danger">*</span></label>
                                <div *ngIf="this.iCalView==1" style="margin-top: 10px;">
                                    <p-calendar [(ngModel)]="dateTo" [showTime]="showTime" dateFormat="dd.mm.yy"
                                        hourFormat="24" [showIcon]="true" [maxDate]= "maxDate">
                                    </p-calendar>
                                </div>
                                <div *ngIf="this.iCalView==2" style="margin-top: 10px;">
                                    <p-calendar [(ngModel)]="dateTo" view="month" dateFormat="mm/yy"
                                        [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"  [maxDate]= "maxDate"></p-calendar>
                                </div>
                                <div *ngIf="this.iCalView==3">
                                    <p-calendar [(ngModel)]="dateTo" dateFormat="dd.mm.yy" hourFormat="24" [showTime]="showTime"
                                        [showIcon]="true">
                                    </p-calendar>
                                </div>
                               
                        </div> -->

                            <div class="col-md-2 pt-5 stndrop">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary" id="fetchbtn"
                                    [disabled]="!heroForm.form.valid">FETCH</button>
                                </div>
                            </div>
                           </form>
                           
                        </div>
                        
                    </div>

                </div>
                <div class="row mb-6">
                    <!-- <div class="col-md-5 pt-5 stndrop"></div> -->
                    
                    <div class="col-md-2">
                      <div class="dropdown">
                        <button type="button"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3 dropdown-toggle"
                            data-toggle="dropdown">
                            <i class="fas fa-download fa-sm text-white-50"></i> Download Report:
                        </button>
                        <!-- <div class="dropdown-menu">
                            
                                <a class="dropdown-item" href="http://117.211.75.160:8086/rest/api/industry/getSMSReport/downloadpdf?from=2020-11-12%2011:17:02&to=2020-11-12%2011:17:03">
                                    
                    
                        </div> -->
                        <div class="dropdown-menu">
                            <!-- <a class="dropdown-item" href="http://117.211.75.160:8086/rest/api/industry/getSMSReport/downloadpdf?from=2020-11-12%2011:17:02&to=2020-11-12%2011:17:03"><i class="fa fa-file-excel-o"></i> As EXCEL</a> -->
                           <a  class="dropdown-item" href="http://117.211.75.160:8086/rest/api/getRelPollutantReport/download?frequency=15%20Minutes&from=2020-11-12%2011:17:03&to=2021-11-15%2011:17:03&plantId=hindalco_lpng&stationId=AAQMS-1&parameter=NO2,PM"><i class="fa fa-file-excel-o"></i> As EXCEL</a>
                          <!---- <a class="dropdown-item"  href="http://117.211.75.160:8086/rest/api/industry/getSMSReport/downloadpdf?from=2020-11-12%2011:17:02&to=2020-11-12%2011:17:03"><i class="fa fa-file-pdf-o"></i> As Pdf</a>-->
                            <a class="dropdown-item" (click)="printCanvas('print')"><i class="fa fa-file-pdf-o"></i> As Print</a>
    
                          </div>
                        <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                    </div>
                </div>
               
                </div>
                <div class="row" *ngFor="let filterData of filtersList; let i = index">
                    <app-linechart [filterData]="filterData"></app-linechart>
                </div>
                           





            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white" style="padding-top: 50px;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Assam Polution Control Board | 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>