<mat-form-field>
  <div>
    <mat-toolbar>
      <!-- Display files names -->
      <input matInput [(ngModel)]="fileAttr" readonly name="name" /> 

      <!-- Browse Button -->
      <button type="submit" class="btn btns btn-success">
        BROWSE FILE
      </button>
    </mat-toolbar>

    <!-- Fetch selected filed on change -->
    <input type="file" #fileInput id="uploadFile" (change)="upload($event)" name="uploadFile" multiple="multiple"
     />
  </div>
 
</mat-form-field>

<button type="submit"  class="btn btns btn-success" (click)="exportexcel()"> UPLOAD </button>





     <!-- <form>
        
         
            <div style="text-align: center;color:blue;font-style:normal;">
             
         Upload  Emp Data (Excel Format)
             
            </div>  
             
            <div style="text-align: center;color:blue;font-style:normal;">
             
          <input type="file" class="form-control-file" (change)="upload($event)" [multiple]="true" #fileInput>

           


           
                   
                  </div>
                 
        <div >
        
          <button class="btn btn-primary" (click)="exportexcel()">Upload </button>
        </div>
       
      </form> 
        
        <!-- <table id="excel-table" hidden> 
          <tr>       
             <th>EMPNAME</th> 
             <th>MOBILENO</th>  
             <th> ADDRESS</th> 
            
          </tr>    
          <tr>
          // This is the binding part. 
             <td>RAJIV </td>  
             <td>XXX9999921</td> 
             <td>BBSR</td> 
             
          </tr> 
          <tr>
              // This is the binding part. 
                 <td>KAMLESH </td>  
                 <td>XXX9999999</td> 
                 <td>CTC</td> 
                 
              </tr> 
              <tr>
                  // This is the binding part. 
                     <td>HITANSHU </td>  
                     <td>XXX9999944</td> 
                     <td>BBSR</td> 
                     
                  </tr> 
                  <tr>
                      // This is the binding part. 
                         <td>RAMESH </td>  
                         <td>98888888</td> 
                         <td>BBSR</td> 
                         
                      </tr> 
                      <tr>
                          // This is the binding part. 
                             <td>RAMESH </td>  
                             <td>98888888</td> 
                             <td>BBSR</td> 
                             
                          </tr> 
        </table>
         -->
        
  
      <!-- --> 
     
  
      <div  class="modal_invalid">

        <!-- Modal content -->
         <div class="modal-content1">
          
          <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
         
          <p style="text-align: center;">
            {{message}}
          </p>
          <div style="text-align: center;" ><br>
            <button class="btn btn-success close_modal">CLOSE</button>
          </div>
        </div>
        </div> 