<div class="limiter" style="background-image: url('assets/images/bg-201.jpg');">

  <div class="fog-container">
    <div class="fog-img fog-img-first"></div>
    <div class="fog-img fog-img-first"></div>
    <div class="fog-img fog-img-second"></div>
</div>

    <div class="container">
    <div class="row">      
    <div class="container-login100" >
    <div class="wrap-login100">
    <form [formGroup]="addpassword" onload="enableBtn();">
      
      <button type="button" tooltip="Goto Back " class="btn btny btn-default buttom-prim buttonsToShow" 
      id="backbtn" (click)="goback()"><i class="fa fa-arrow-circle-left"></i> </button>     
             
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">*Password required</div>
        </div>

        <h4 _ngcontent-ash-c2="" class="login-label">Forgot Password</h4>
        <div class="from-group marbot">
           
            <div class="fontpassword">   
                
              <i _ngcontent-hel-c18="" class="fas fa-envelope fa-fw" style="color:green;"></i>      
                <input class="form-control texbsize1 test1"   type="text"    formControlName="email" id="email" name="email" placeholder="Enter Email" [ngClass]="{  'is-invalid': submitted  && f.email.errors }">
                          
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">                                    

                 <div *ngIf="f.email.errors.required">*Email is Required</div>
                 <div *ngIf="f.email.errors.pattern">*Valid Email is Required</div>                
               </div>
               
              
                </div>
         
            <div>

                <input class="form-control"  formControlName="password" name="password"  [ngClass]="{ 'is-invalid':submitted && f.password.errors}"  type="password" placeholder="New Password">    
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">                           
                    <div *ngIf="f.password.errors.required">  <i class="material-icons">
                      
                    </i>

                    </div>
                
                <label class="col"
                [ngClass]="addpassword.controls['password'].hasError('required') && addpassword.controls['password'].hasError('minlength') && addpassword.controls['password'].hasError('patternValidator')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ addpassword.controls['password'].hasError('required') &&addpassword.controls['password'].hasError('patternValidator') &&
                  addpassword.controls['password'].hasError('minlength') ? 'cancel' :
                  '' }}
                </i>
                *Password must contain at least 8 characters!,at least 1 number!,at least 1 in Capital Case!,at least 1 Letter in Small Case!,at least 1 Special
              </label>
              
            
            </div> 
        </div>
                <div> 
                <input class="form-control" formControlName="cnf_password"  [ngClass]="{ 'is-invalid': submitted && f.cnf_password.errors }"  name="cnf_password" id="cnf_password" type="password" placeholder="Confirm Password">    
                <div *ngIf="submitted && f.cnf_password.errors" class="invalid-feedback">   
                    
                    

                    <div *ngIf="f.cnf_password.errors.required">  
                                                                              
                    </div>
                    
                    <label class="col"
                    [ngClass]="addpassword.controls['cnf_password'].hasError('required')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons">
                      {{ addpassword.controls['cnf_password'].hasError('required') ? 'cancel' :
                      '' }}
                    </i>
                   *Confirm Password Required
                  </label>
                
                </div>
            </div>

           

            <div>
              <!-- 
                the SITE_KEY is the sitekey from your admin console.
                use form control for validation
              -->
              
            </div>

            <div> 
              <div class="card-body">
                <table>
              <div #recaptcha  style="visibility: visible;"></div>
                
                <div >

                </div> 
               
              </table>
               
            </div>

             
                <div >
                  <button class="btn btn-suc d-block mx-auto mt-3 btn btn-success" (click)="save()" disabled>Submit</button>  
                
                </div>
               
              
                </div>        
        
           
            </div>
          
       <div>
       
       </div>
   <hr>
    
  
   <div  class="modal_save">
    <div class="modal-content1">
        
      <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
   <br>
  
    <p style="text-align: center;">
      Please Check Mail..
    </p>
    <div style="text-align: center;"><br>
      <button class="btn btn-success close_modal" (click)="goback()">CLOSE</button>
    </div>
  
  </div></div>


  <div  class="modal_invalid">

    <div class="modal-content1">
        
      <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
   <br>
    <p style="text-align: center;">
      {{jsonResponse}}
    </p>
    <div style="text-align: center;"><br>
      <button class="btn btn-success close_modal">CLOSE</button>
    </div>
   
  </div> 
  
  </div>


  <div  class="modal_error">

    <!-- Modal content -->
    <div class="modal-content1">
      <span class="close_modal">&times;</span>
     <p style="text-align: center;">
      <img src="../../assets/images/mail.png" width="30px" height="30px"><hr>
     </p> 
      <p style="text-align: center;">
        Check All Field
      </p>
      <button class="btn btn-success close_modal" >close</button>
    </div>
    
  
  </div>
  

  <div  class="modal">
       
    <p style="text-align: center;">
     <img style="text-align: center;" src="../../assets/images/04-spinner.gif" height="200px" width="200px"><hr>
    </p> 
   
   
 
 </div>


    </form>
    </div>
    </div>
    </div>
    </div>
    </div>

    
