
.marginTop {
    margin-top: 2em;
}
.panel-group .panel-heading h4 {
    font-size: 16px;
  }
  .panel-label {
    width: 23%;
    display: inline-block;
  }
  .panel-class {
    width: 43%;
    display: inline-block;
  }