<!-- <div class="box marginTop"> -->
    <div class="row">
         <div class="col-md-2 pt-2 stndrop">
            <div class="form-group">
                <label>Station</label>
           
           <p-dropdown [options]="stationOption" [(ngModel)]="stationOption" optionLabel="name" optionValue="name">
        </p-dropdown>
         
               </div>
               
               </div>
               <div class="col-md-2 pt-2 stndrop">
                <div class="form-group">
                    
              <label>Parameter</label>
             
             <p-dropdown [options]="parameterOption" [(ngModel)]="parameterOption" optionLabel="name" optionValue="name">
            </p-dropdown> 
                   
                   </div>
               </div>
               <div class="col-md-2 pt-2 stndrop">
                <div class="form-group">
                    <label>Frequency</label>
            <p-dropdown [options]="filterOption" [(ngModel)]="selectedOption" optionLabel="name" optionValue="name" (onChange)=changeDatepicker()>
            </p-dropdown>
            </div>
            </div>
           <!-- <div class="col-md-2 pt-2 stndrop">
           <div class="form-group">
            <label>Parameter</label>
            <p-dropdown [options]="parameterOption" [(ngModel)]="parameterOption" optionLabel="name" optionValue="name">
            </p-dropdown>
             
                 </div>
                  </div> -->
        <!-- <div class="col-sm-6"> -->
           
                <!-- <div class="spacer-out-top-base spacer-out-bottom-base">
                    <div class="panel-label">
                        <label translate>Start Date: </label>
                    </div>
                    <div class="panel-class">
                        
                    </div>
                </div> -->
           
                <div class="col-md-3 pt-2 stndrop">
                    <div class="form-group">
                        
                        <label>From Date <span class="text-danger">*</span></label>
                       
                        <p-calendar [(ngModel)]="dateFrom" [showTime]="showTime" dateFormat="dd.mm.yy" hourFormat="24"
                            [showIcon]="true">
                        </p-calendar>
                       
                    </div>
                     
                 </div>
                 
                 <div class="col-md-3 pt-2 stndrop">
                    <div class="form-group">
                        
                        <label>To Date <span class="text-danger">*</span></label>
                      
                        <p-calendar [(ngModel)]="dateTo" [showTime]="showTime" dateFormat="dd.mm.yy" hourFormat="24"
                        [showIcon]="true">
                    </p-calendar>
                       
                    </div>
                     


                 </div>
                <!-- <div class="spacer-out-top-base spacer-out-bottom-base">
                    <div class="panel-label">
                        <label translate>End Date: </label>
                    </div>
                    <div class="panel-class">
                       
                    </div>
                </div> -->
            
               
                <!-- <button class="btn" (click)="populateChart(1)"><i class="fa fa-get-pocket"
                        aria-hidden="true"></i></button> -->

           
        <!-- </div> -->
        <div class="col-md-2 pt-5 stndrop">
            <div class="form-group">
           <button type="button" class="btn btn-sm btn-primary" (click)=populateChart()>FETCH</button>
       </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <p-chart type="line" width="700px" height="300px" [data]="data" [options]="options"></p-chart>
        </div>
       
    </div>
    
<!-- </div> -->