<div >
    <h1 class="h4 text-gray-800">{{powerplant}}
    </h1>
    <ul class="nav list">

        <li class="nav-item">
            <i class="fa fa-map-marker text-warning wdth"></i> {{city}},{{company}}
        </li>
        <li class="nav-item">
            <i class="fa fa-globe text-secondary wdth"></i> {{stateName}}
        </li>
        <li class="nav-item">
            <i class="fa fa-podcast text-primary wdth"></i> {{industryCategory}}
        </li>
        <li class="nav-item">
            <i class="fa fa-calendar text-info wdth"></i>Data fetched at :<span
                    *ngFor="let x of calendar;let i= index">
                    <i *ngIf="i==0">
                        {{x.recordedTime}}
                    </i>
                </span>
        </li>
        <li class="nav-item">
            <i class="fa fa-sitemap text-success wdth"></i>Total Monitoring Stations : {{monitoringStation}}
        </li>
        <li class="nav-item">
            <i class="fa fa-tv text-danger wdth"></i>Total Parameters Monitored : {{parameterMoniter}}
        </li>
    </ul>
</div>
