<div class="limiter" style="background-image: url('assets/images/bg-201.jpg');">

	<div class="fog-container">
	  <div class="fog-img fog-img-first"></div>
	  <div class="fog-img fog-img-first"></div>
	  <div class="fog-img fog-img-second"></div>
  </div>
  
	  <div class="container">
	  <div class="row">      
	  <div class="container-login100" >
	  <div class="wrap-login100">

<mat-card>
	<button type="button" tooltip="Goto Back " class="btn btny btn-default buttom-prim buttonsToShow" 
		id="backbtn" (click)="goback()"><i class="fa fa-arrow-circle-left"></i> </button>    
		
		<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">*Password required</div>
		</div>
		
	<mat-card-header>
        <mat-card-title><h2>Forgot Password</h2></mat-card-title>
	  </mat-card-header>
	  
	
	  <form [formGroup]="addpassword" (ngSubmit)="onSubmit()" >
		

		<mat-card-content >
		<mat-form-field class="full-width-input">
		  <input matInput placeholder="Email" formControlName="email" type="text" required>
		  <mat-error>
			
		  </mat-error>
		  <mat-error *ngIf="submitted && f.email.errors">
			*Please provide a valid Email
		  </mat-error>
		 
		  
		</mat-form-field>


		<mat-form-field class="full-width-input">

		  <input matInput type="password" placeholder="Password" formControlName="password" value="" required>
		 
		  <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">

			*Please provide Valid Password
		</mat-error>

		 
		


		</mat-form-field>
		<mat-form-field class="full-width-input">
			<input matInput type="password" placeholder="Confirm" formControlName="cnf_password" value="" required>
			
			<mat-error>
				Please provide a valid confirmpassword
			  </mat-error>

		  </mat-form-field>

		  <div>

		  
	<div class="card-body">		
        <div #recaptcha>
			</div>
		</div>

		  </div>
	
		<div>
			<button class="btn btn-suc d-block mx-auto mt-3 btn btn-success" (click)="save()" disabled>Submit</button> 
	
		</div>
			
	</mat-card-content>

	<div  class="modal_save">
		<div class="modal-content1">
			
		  <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
	   <br>
	  
		<p style="text-align: center;">
		  Please Check Mail..
		</p>
		<div style="text-align: center;"><br>
		  <button class="btn btn-success close_modal" (click)="goback()">CLOSE</button>
		</div>
	  
	  </div></div>
	
	
	  <div  class="modal_invalid">
	
		<div class="modal-content1">
			
		  <i class="close fa fa-times-circle" style="font-size:30px;color:red;text-align: right;"></i>
	   <br>
		<p style="text-align: center;">
		  {{jsonResponse}}
		</p>
		<div style="text-align: center;"><br>
		  <button class="btn btn-success close_modal">CLOSE</button>
		</div>
	   
	  </div> 
	  
	  </div>
	
	
	  <div  class="modal_error">
	
		<!-- Modal content -->
		<div class="modal-content1">
		  <span class="close_modal">&times;</span>
		 <p style="text-align: center;">
		  <img src="../../assets/images/mail.png" width="30px" height="30px"><hr>
		 </p> 
		  <p style="text-align: center;">
			Check All Field
		  </p>
		  <button class="btn btn-success close_modal" >close</button>
		</div>
		
	  
	  </div>
	  
	
	  <div  class="modal">
		   
		<p style="text-align: center;">
		 <img style="text-align: center;" src="../../assets/images/04-spinner.gif" height="200px" width="200px"><hr>
		</p> 
	   
	   
	 
	 </div>
	
	
	  </form>
	
  </mat-card>


</div>
</div>
</div>
</div>
</div>
